timm==1.0.15
tzdata==2023.3
h5py==3.11.0
urllib3==2.2.2
setuptools==69.5.1
openpyxl==3.1.5
hf-xet==1.1.0
mpmath==1.3.0
kiwisolver==1.4.4
mkl-service==2.4.0
MarkupSafe==2.1.3
fsspec==2024.6.1
pyparsing==3.0.9
certifi==2024.7.4
chardet==4.0.0
et_xmlfile==2.0.0
typing_extensions==4.11.0
six==1.16.0
scipy==1.14.0
ogb==1.3.6
safetensors==0.5.3
joblib==1.4.2
positional-encodings==6.0.3
torchvision==0.17.2
python-dateutil==2.9.0.post0
rdkit==2024.3.4
click==8.1.7
greenlet==3.0.1
frozenlist==1.4.1
torch_geometric==2.5.3
tqdm==4.66.4
threadpoolctl==3.5.0
PyYAML==6.0.1
yarl==1.9.4
PySocks==1.7.1
Jinja2==3.1.4
gitdb==4.0.11
littleutils==0.2.4
SQLAlchemy==2.0.30
fuzzywuzzy==0.18.0
idna==3.7
filelock==3.13.1
requests==2.32.2
sympy==1.12
charset-normalizer==2.0.4
annotated-types==0.7.0
pytz==2024.1
smmap==5.0.1
wheel==0.43.0
numexpr==2.8.7
platformdirs==4.3.6
GitPython==3.1.43
networkx==3.3
protobuf==5.28.3
packaging==24.1
mkl-random==1.2.4
multidict==6.0.5
torch_spline_conv==1.2.2
unicodedata2==15.1.0
contourpy==1.2.0
setproctitle==1.3.3
docker-pycreds==0.4.0
torch_sparse==0.6.18
pydantic_core==2.20.1
sentry-sdk==2.17.0
psutil==5.9.0
torch==2.2.2
fonttools==4.51.0
huggingface-hub==0.31.1
pillow==10.3.0
torch_scatter==2.1.2
reportlab==4.2.2
Brotli==1.0.9
matplotlib==3.8.4
attrs==23.2.0
aiosignal==1.3.1
mkl-fft==1.3.8
torchaudio==2.2.2
wandb==0.18.5
freetype-py==2.3.0
Bottleneck==1.3.7
aiohttp==3.9.5
pandas==2.2.2
numpy==1.26.4
pycairo==1.26.1
outdated==0.2.2
rlPyCairo==0.2.0
torchdata==0.7.1
dgl==2.3.0+cu121
pip==24.0
cycler==0.11.0
pydantic==2.8.2
torch_cluster==1.6.3
scikit-learn==1.5.1
